<div class="container">
  <div class="row">
    <h1 class="col-md-12">My photography</h1>
  </div>
  <ul class="gallery row">
    <li ng-repeat="image in main.images" class="col-lg-4 col-md-4 col-sm-12">
      <a ng-click="main.openLightboxModal($index)">
        <img ng-src="{{image.thumbUrl}}" class="img-thumbnail img-responsive" >
      </a>
    </li>
  </ul>  

  <div class="row">
    <h1 class="col-md-12">Achievements</h1>
  </div> 
  <div class="row">
    <h3 class="col-md-12"> 1st place for creating app that collected historical photos of Katowice using BlueMix Cloud.</h3>
  </div>
  <div class="row">
    <a href="http://slaskistream.medialabkatowice.eu/#/">
      <div parallax-background class="photo hackSilesia" parallax-ratio="0.7">      
    </div></a>
  </div>

  <div class="row">
    <h1 class="col-md-12">Companies that trusted me</h1>
  </div>

  <div class="row">
    <div class="col-md-4 col-sm-12 " ng-repeat="job in main.jobs | orderBy:'rank'">
      <div class="thumbnail job-title">
        <a ng-href="{{job.url}}"><img class="pull-center company-logo img-responsive" ng-src="assets/images/{{ job.logo }}" alt="{{ job.title }}"></a>
        <div class="caption text-center job-desc">
          <h3>{{ job.description }}</h3>
        </div>
      </div>
    </div>
  </div>
</div>
